apiVersion: fluxcd.controlplane.io/v1
kind: ResourceSet
metadata:
  name: ingress-nginx
  namespace: flux-system
  annotations:
    fluxcd.controlplane.io/reconcile: "enabled"
    fluxcd.controlplane.io/reconcileEvery: "30m"
    fluxcd.controlplane.io/reconcileTimeout: "5m"
spec:
  resources:
    - apiVersion: v1
      kind: Namespace
      metadata:
        name: ingress-nginx

    - apiVersion: source.toolkit.fluxcd.io/v1
      kind: HelmRepository
      metadata:
        name: ingress-nginx
        namespace: ingress-nginx
      spec:
        interval: 10m0s
        url: https://kubernetes.github.io/ingress-nginx

    - apiVersion: helm.toolkit.fluxcd.io/v2
      kind: HelmRelease
      metadata:
        name: ingress-nginx
        namespace: ingress-nginx
      spec:
        interval: 1h
        releaseName: ingress-nginx
        chart:
          spec:
            chart: ingress-nginx
            version: 4.*.*
            sourceRef:
              kind: HelmRepository
              name: ingress-nginx
        values:
          controller:
            service:
              annotations:
                metallb.universe.tf/loadBalancerIPs: 10.0.2.2
