---
apiVersion: fluxcd.controlplane.io/v1
kind: ResourceSet
metadata:
  name: traefik
  namespace: flux-system
  annotations:
    fluxcd.controlplane.io/reconcileEvery: "30m"
    fluxcd.controlplane.io/reconcileTimeout: "5m"
spec:
  resources:
    - apiVersion: v1
      kind: Namespace
      metadata:
        name: traefik

    - apiVersion: source.toolkit.fluxcd.io/v1
      kind: HelmRepository
      metadata:
        name: traefik
        namespace: traefik
      spec:
        interval: 10m0s
        url: https://traefik.github.io/charts

    - apiVersion: helm.toolkit.fluxcd.io/v2
      kind: HelmRelease
      metadata:
        name: traefik
        namespace: traefik
      spec:
        interval: 1h
        releaseName: traefik
        chart:
          spec:
            chart: traefik
            # renovate: datasource=helm depName=traefik registryUrl=https://traefik.github.io/charts
            version: 38.0.0
            sourceRef:
              kind: HelmRepository
              name: traefik
        values:
          providers:
            kubernetesGateway:
              enabled: true
            kubernetesIngress:
              enabled: false

          ports:
            # Defines the HTTP entry point named 'web'
            web:
              port: 80

            # Defines the HTTPS entry point named 'websecure'
            websecure:
              port: 443

          gateway:
            listeners:
              web:
                port: 80
                protocol: HTTP
                namespacePolicy:
                  from: All
              websecure:
                port: 443
                protocol: HTTPS
                namespacePolicy:
                  from: All
                mode: Terminate
                certificateRefs:
                  - kind: Secret
                    name: local-selfsigned-tls
                    group: ""

          service:
            annotations:
              metallb.universe.tf/loadBalancerIPs: 10.0.2.4

---
apiVersion: fluxcd.controlplane.io/v1
kind: ResourceSet
metadata:
  name: traefik-config
  namespace: flux-system
  annotations:
    fluxcd.controlplane.io/reconcileEvery: "30m"
    fluxcd.controlplane.io/reconcileTimeout: "5m"
spec:
  resources:
    - apiVersion: gateway.networking.k8s.io/v1
      kind: Gateway
      metadata:
        name: traefik-gateway
        namespace: traefik
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt-prod-gateway-api
      spec:
        gatewayClassName: traefik
        listeners:
          # ACME SOLVER LISTENER
          - name: http
            protocol: HTTP
            port: 80
            allowedRoutes:
              namespaces:
                from: All

          # DEX LISTENER
          - name: dex-homelab-evilcyborgdrone-com-https
            hostname: "dex.homelab.evilcyborgdrone.com"
            port: 443
            protocol: HTTPS
            allowedRoutes:
              namespaces:
                from: All
            tls:
              mode: Terminate
              certificateRefs:
                - name: dex-homelab-evilcyborgdrone-com-tls

          # FLUX LISTENER
          - name: flux-homelab-evilcyborgdrone-com-https
            hostname: "flux.homelab.evilcyborgdrone.com"
            port: 443
            protocol: HTTPS
            allowedRoutes:
              namespaces:
                from: All
            tls:
              mode: Terminate
              certificateRefs:
                - name: flux-homelab-evilcyborgdrone-com-tls

          # GRAFANA LISTENER
          - name: grafana-homelab-evilcyborgdrone-com-https
            hostname: "grafana.homelab.evilcyborgdrone.com"
            port: 443
            protocol: HTTPS
            allowedRoutes:
              namespaces:
                from: All
            tls:
              mode: Terminate
              certificateRefs:
                - name: grafana-homelab-evilcyborgdrone-com-tls
