---
apiVersion: fluxcd.controlplane.io/v1
kind: ResourceSet
metadata:
  name: tuppr-config
  namespace: flux-system
  annotations:
    fluxcd.controlplane.io/reconcile: "enabled"
    fluxcd.controlplane.io/reconcileEvery: "30m"
    fluxcd.controlplane.io/reconcileTimeout: "5m"
spec:
  resources:
    - apiVersion: tuppr.home-operations.com/v1alpha1
      kind: TalosUpgrade
      metadata:
        name: cluster
      spec:
        talos:
         # renovate: datasource=docker depName=ghcr.io/siderolabs/installer
          version: v1.11.5
    - apiVersion: tuppr.home-operations.com/v1alpha1
      kind: KubernetesUpgrade
      metadata:
        name: kubernetes
      spec:
        kubernetes:
          # renovate: datasource=docker depName=ghcr.io/siderolabs/kubelet
          version: v1.34.1
